@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'base/reset';

@import 'layout/structure';

// Bootstrap imports

@import "bt4_files/functions";
@import "bt4_files/vars-stripped";

@import "bt4_files/mixins/breakpoints";
@import "bt4_files/mixins/grid-framework";
@import "bt4_files/mixins/grid";

@import "bt4_files/grid";

//  End Bootstrap imports

header {filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25)); }

   
/* ---------------- MEDIA QUERY MENU SMALL (<= 900px) (Alleen ten behoeve van menu)--------------------------*/
@media (max-width: 900px) {

  .wrapperRow:first-child {padding: 0;}

  header::before {background: linear-gradient(to bottom, #462662 0%, #462662 30px, #EEECEC 30px, #EEECEC 100%);}
  header {background: linear-gradient(to bottom, #462662 0%, #462662 30px, #EEECEC 30px, #EEECEC 100%);}
  
  header {min-height: 85px;}

  @import 'components/mainNavVertical';

  }

/* ---------------- MEDIA QUERY Main Navigation Horizontal --------------------------*/
@media (min-width: 901px) {

  header::before {
    background: linear-gradient(to bottom, #462662 0%, #462662 34px, #EEECEC 34px, #EEECEC 100%); }

  header {
    background: linear-gradient(to bottom, #462662 0%, #462662 34px, #EEECEC 34px, #EEECEC 100%);
    padding: 0 1em;
    z-index: $zindex-dropdown; // Because of navigation-menu that drops over element following header element
    min-height: 127px;
  }
  
  @import 'components/mainNavHorizontal';

}

// checken of dit ervoor zorgt dat deze in de header niet naar voren komt bij dubbel klikken.
main::before {background: #CABDD7;}
main {background: #CABDD7; min-height: 100vh; display: block;}

footer::before {background: #462662 ;}
footer {background: transparent; min-height: 200px; }